<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="float:right;width:100px;text-align: center;">
	<a th:href="@{/index}">返回首页</a>
</div>
<div style="text-align: center;margin:0 auto;width: 1000px; ">
<h1>用户列表</h1>
<table width="100%" border="1" cellspacing="1" cellpadding="0">
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>性别</td>
    </tr>
    <!--/*@thymesVar id="learnList" type=""*/-->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.name}">姓名</td>
        <td th:text="${user.age}">年龄</td>
    </tr>
</table>
</div>
</body>
</html>